* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.font-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.font-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.white-text {
  color: white;
}

.brown-text {
  color: #403b3d;
}

.headline-2 {
  font-size: 18px;
}

.headline-1 {
  font-size: 48px;
}

.body-text {
  font-size: 16px;
}

.btn {
  border: 1px solid #272727;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  max-width: 100%;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: 1s all ease;
  width: 214px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #272727;
  color: white;
}

.btn-primary:hover {
  background-color: transparent;
  color: #272727;
}

.btn-secondary {
  background-color: transparent;
  color: #272727;
}

.btn-secondary:hover {
  background-color: #272727;
  color: white;
}

.hero {
  align-items: center;
  background-image: url("../images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.hero .body-text {
  max-width: 350px;
  text-align: center;
}

.hero .headline-1,
.hero .headline-2 {
  text-align: center;
}

.hero .btn-primary:hover {
  background-color: transparent;
  color: white;
}

.hero .btn-secondary {
  background-color: transparent;
  color: white;
}

.hero .btn-secondary:hover {
  background-color: #272727;
  color: white;
}

.hero .hero-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: 100%;
  justify-content: space-evenly;
}

.best-sellers,
.our-categories,
.hats,
.carousel {
  align-items: center;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 70px 0;
  text-align: center;
}

@media (max-width: 575.98px) {
  .best-sellers,
  .our-categories,
  .hats,
  .carousel {
    padding: 35px 0;
  }
}

.best-sellers .products-wrapper {
  margin: 50px 0;
}

.our-categories,
.hats {
  background-color: white;
}

.our-categories .products-wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
  margin: 50px 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .our-categories .products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .our-categories .products-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.our-categories .category-wrapper {
  transition: 0.5s all ease;
}

.our-categories .category-wrapper:hover {
  transform: scale(1.05);
}

.grid__item {
  float: left;
  width: 50%;
}

.carousel {
  background-color: #403b3d;
}

.carousel .headline-2 {
  font-size: 24px;
  letter-spacing: 0.37em;
  line-height: 29px;
  margin-top: 30px;
}

.carousel .headline-1 {
  font-size: 58px;
}

.carousel img {
  width: 100%;
}

.products-by-class,
.new-services {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 70px 0;
  text-align: center;
}

@media (max-width: 575.98px) {
  .products-by-class,
  .new-services {
    padding: 35px 0;
  }
}

.products-by-class .products-wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
  margin: 50px 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .products-by-class .products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .products-by-class .products-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.products-by-class .headline-2 {
  font-size: 24px;
}

.new-services {
  background-color: #f1ebe2;
}

.new-services img {
  width: 100%;
}

.new-services .headline-2 {
  font-size: 20px;
  margin-top: 10px;
}

.new-services .services-wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  justify-items: center;
  margin: 50px 0 0 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .new-services .services-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .new-services .services-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section-divided {
  display: flex;
}

.section-divided .left-side,
.section-divided .right-side {
  max-height: 600px;
  width: 50%;
}

@media (max-width: 991.98px) {
  .section-divided .left-side,
  .section-divided .right-side {
    max-height: 600px;
    width: 100%;
  }

  .section-divided {
    display: flex;
    flex-direction: column;
  }

  .section-divided .centerer {
    padding: 35px 0;
  }

  .reverse-sm {
    flex-direction: column-reverse;
  }
}

.section-divided .headline-2 {
  font-size: 28px;
  text-transform: uppercase;
}

.section-divided .no-p {
  padding: 0;
}

.section-divided .centerer {
  align-items: center;
  background-color: #dee0e0;
  display: flex;
  justify-content: center;
}

.section-divided img {
  height: 100%;
  width: 100%;
}

.section-divided .info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
}
